<div class="clearfix">
  <div class="col-md-6 well well-lg">
    <div class="form-group">
      <%= f.label :nickname, class: 'control-label' %>
      <%= f.text_field :nickname, class: 'form-control input-lg' %>
    </div>
    <div class="form-group">
      <%= f.label :location, class: 'control-label' %>
      <%= f.text_field :location, class: 'form-control input-lg' %>
    </div>
    <div class="form-group">
      <%= f.label :scanner_model, class: 'control-label' %>
      <%= f.text_field :scanner_model, class: 'form-control input-lg' %>
    </div>
    <div class="form-group">
      <%= f.label :trx_model, class: 'control-label' %>
      <%= f.text_field :trx_model, class: 'form-control input-lg' %>
    </div>
    <div class="form-group">
      <%= f.label :radioscaner_forum_login, class: 'control-label' %>
      <p class="text-muted"><small><%= t('controller.devise.radioscaner_forum_login') %></small></p>
      <%= f.text_field :radioscaner_forum_login, class: 'form-control input-lg' %>
    </div>
  </div>

  <div class="col-md-5 col-md-offset-1 well well-lg">
    <div class="form-group">
      <%= f.label :email, class: 'control-label' %>
      <% unless editing %><p class="text-muted"><small><%= t('controller.devise.sign_up_mail_info') %></small></p><% end %>
      <%= f.text_field :email, autofocus: true, class: 'form-control input-lg' %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'control-label' %>
      <% if editing %><p class="text-muted"><small><%= t('controller.devise.password_info') %></small></p><% end %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control input-lg' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'control-label' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control input-lg' %>
    </div>

    <% if editing %>
      <div class="form-group">
        <%= f.label :current_password, class: 'control-label' %>
        <% if editing %><p class="text-muted"><small><%= t('controller.devise.password_confirmation_info') %></small></p><% end %>
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control input-lg' %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.submit class: 'btn btn-success btn-lg' %>
    </div>
  </div>
</div>