<ul class="list-group visible-desktop">
  <li class="list-group-item list-group-item-default">
    <div class="row">
      <div class="col-md-3"><h4 class="list-group-item-heading">Operator</h4></div>
      <div class="col-md-2"><h4 class="list-group-item-heading">Stacja</h4></div>
      <div class="col-md-2"><h4 class="list-group-item-heading">Lokalizacja</h4></div>
      <div class="col-md-1"><h4 class="list-group-item-heading">Typ</h4></div>
      <div class="col-md-2"><h4 class="list-group-item-heading">TX</h4></div>
      <div class="col-md-2"><h4 class="list-group-item-heading">RX</h4></div>
    </div>
  </li>
</ul>
<ul class="list-group">
  <% stations.each do |station| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3"><%= station.operator_name %></div>
        <div class="col-md-2"><%= station.name %> </div>
        <div class="col-md-2"><%= station.location %></div>
        <div class="col-md-1"><%= station_net_to_icon(station) %></div>
        <div class="col-md-2"><%= format_frequency station.tx_frequencies %></div>
        <div class="col-md-2"><%= format_frequency station.rx_frequencies %></div>
      </div>
    </li>
  <% end %>
</ul>