<% if params.key?(:q) %>

  <% unless @finder.location.nil? %>
    <div class="alert alert-info" role="alert">
      <h4>Informacja</h4>
      <p>Wyszukiwanie w promieniu 25km względem lokalizacji <%= @finder.location.formatted_address %>, współrzędne: lat:<%= @finder.location.latitude %>, lon:<%= @finder.location.longitude %></p>
    </div>
  <% end %>

  <% if @finder.any? %>
    <% js_option 'MapMarkers', result_stations_to_g_markers(@finder.results) %>

    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
        <a href="#table-voice" role="tab" data-toggle="tab">Głosowe <div class="label label-success"><%= @finder.results_voice.count %></div></a>
      </li>
      <li>
        <a href="#table-digital" role="tab" data-toggle="tab">Cyfrowe <div class="label label-primary"><%= @finder.results_digital.count %></div></a>
      </li>
      <li>
        <a href="#map" role="tab" data-toggle="tab">Mapa <div class="label label-danger"><%= @finder.results.count %></div></a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="table-voice">
        <%= render 'list', stations: @finder.results_voice  %>
      </div>
      <div class="tab-pane" id="table-digital">
        <%= render 'list', stations: @finder.results_digital %>
      </div>
      <div class="tab-pane" id="map">
        <div id="map-canvas"></div>
      </div>
    </div>

  <% else %>
    <div class="alert alert-success" role="alert">
      <h4>Informacja</h4>
      <p>Nie znaleziono niczego interesującego, spróbuj zmienić kryteria wyszukiwania.</p>
    </div>
  <% end %>
<% else %>
  <div class="jumbotron">
      <div class="container">
        <form>
          <div class="form-group col-md-5">
            <input type="text" placeholder="Częstotliwość lub lokalizacja" class="form-control input-lg" name="q" value="<%= params[:q] %>">
          </div>
          <button type="submit" class="btn btn-success input-lg">Szukaj w bazie</button>
        </form>
      </div>
      <div class="container">
        <p class="text-muted"><small>Baza załadowana z wykazów udostępnionych <code>2014-07-10</code> i zawiera <code><%= @records_count %></code> rekordów. Użyj pola w górnej belce, aby wyszukać częstotliwość
        lokalizację lub właściciela pozwolenia. Możesz także wyszukiwać obiekty w promieniu od zadanej lokalizacji, użyj prefixu <code>loc:</code> przed nazwą
        miasta, eg.: <a href="/?q=loc%3A+bielsko-biała">Bielsko-Biała</a></small></p>
      </div>
   </div>
<% end %>