<div class="clearfix">
  <div class="col-md-6 well well-lg">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: 'control-label' %>
        <%= f.email_field :email, autofocus: true, class: 'form-control input-lg' %>
      </div>
      <div class="form-group">
        <%= f.label :password, class: 'control-label' %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control input-lg' %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <div class="form-group">
        <%= f.submit t('controller.devise.login_button'), class: 'btn btn-success btn-lg' %>
      </div>
      <p class="text-muted">
        <%= link_to t('controller.devise.pass_reminder'), new_password_path(resource_name) %> - <%= link_to t('controller.devise.link_resend'), new_confirmation_path(resource_name) %>
      </p>
    <% end %>
  </div>
  <div class="col-md-5 col-md-offset-1  well well-lg">
    <p>
      <%= link_to t('controller.devise.sign_up'), new_registration_path(resource_name), class: 'btn btn-primary btn-lg' %>
    </p>
    <p class="text-muted">
      <%= t('controller.devise.sign_up_info') %>
    </p>
  </div>
</div>
