<h1>Listing log_entries</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @log_entries.each do |log_entry| %>
      <tr>
        <td><%= log_entry.description %></td>
        <td><%= log_entry.level %></td>
        <td><%= link_to 'Show', log_entry %></td>
        <td><%= link_to 'Edit', edit_log_entry_path(log_entry) %></td>
        <td><%= link_to 'Destroy', log_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log entry', new_log_entry_path %>
