<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @log_entry.description %>
</p>

<p>
  <strong>Level:</strong>
  <%= @log_entry.level %>
</p>

<%= link_to 'Edit', edit_log_entry_path(@log_entry) %> |
<%= link_to 'Back', log_entries_path %>
