<div class="clearfix">
  <div class="col-md-3 col-xs-12 well">
    <%= render 'logs_menu' %>
  </div>
  
  <div class="col-md-9 col-xs-12">
  
    <div class="well well-lg clearfix">    
      <div class="hidden-xs">
        <div class="pull-left">
          <%= link_to 'Nowa częstotliwość', new_log_log_entry_path(@log), class: 'btn btn-primary btn-lg' %>
        </div>
        <div class="pull-right"><%= link_to 'Edytuj', edit_log_path(@log), class: 'btn btn-default btn-lg' %></div>
        <div class="pull-right"><%= button_to 'Usuń', log_path(@log), data: { confirm: "Na pewno usunąć dziennik #{@log.name}?" }, method: :delete, class: 'btn btn-danger btn-lg' %></div>      
      </div>
      <div class="visible-xs">
        <%= link_to 'Nowa częstotliwość', new_log_log_entry_path(@log), class: 'btn btn-primary btn-lg col-xs-12' %>
      </div>
    </div>
    
    <% if @log_entries.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Typ</td>
            <td>Częstotliwość</td>
            <td>Właściciel</td>
            <td>Opis</td>
            <td></td>
          </tr>
        </thead>
      <% @log_entries.each do |log_entry| %>
        <tr>
          <td><%= station_net_to_icon log_entry %></td>
          <td><%= format_mhz log_entry.frequency_mhz %></td>
          <td><%= log_entry.related_frequency_display_name || log_entry.bandplan_display_name %></td>
          <td><%= log_entry.description %></td>
          <td><%= button_to 'Usuń', log_log_entry_path(@log, log_entry), data: { confirm: "Na pewno usunąć częstotliwość #{format_mhz log_entry.frequency_mhz}?" }, method: :delete, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
      </table>
    <% end %>
  </div>
</div>
