<% js_option('AuthenticityToken', form_authenticity_token) %>
<% js_option('ControllerAction', current_controller_class) %>
<% js_option('Debug', Rails.env != 'production') %>
<% js_option('GaGoal', flash[:ga_goal]) if flash[:ga_goal] %>
<% js_option('Paths', {}) %>
<% js_option('CurrentPath', "#{request.protocol}#{request.host_with_port}#{request.path}") %>
<% js_option('GoogleMapsApiKey', Uke::Application::custom_config(:google_maps_api_key)) %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wyszukiwarka pozwoleń UKE</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="header">
      
        <!-- ta nawigacja nie jest widoczna na telefonach -->
        <ul class="nav nav-pills pull-right hidden-xs">
          <li><a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Szukaj</a></li>
        </ul>
    
        <!-- na telefonach używamy dużych przycisków z ikonami -->
        <ul class="nav nav-pills pull-right visible-xs">
          <li><a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-search"></span></a></li>
        </ul>
        
        <h2 class="text-muted">
          <%= image_tag '1407546046_marine_radio.png' %>
        </h2>        
      </div>      
      
      <% if notice %><div class="alert alert-info"><p><%= notice %></p></div><% end %>
      <% if alert  %><div class="alert alert-danger"><p><%= alert %></p></div><% end %>
      <%= yield %>
      <hr class="hidden-xs">
      <footer>
        <p class="text-muted"><small>Arkadiusz Kuryłowicz 2014 - <small><a href="https://github.com/arekk/uke">kod źródłowy aplikacji</a> - dane w wyszukiwarce pochodzą z <a href="https://dane.gov.pl/dataset/1070">publicznie dostępnych wykazów</a> publikowanych przez UKE</small><br/>
        Może zainteresuje Cię także <a href="http://serwisant-online.pl/" title="program do prowadzenia serwisu SERWISANT-ONLINE">program do prowadzenia serwisu SERWISANT-ONLINE</a>?</small></p>
      </footer>
    </div>

    <div class="modal fade" id="modal-popup-1" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title modal-header-title"></h4>
          </div>
          <div class="modal-body" id="modal-popup-1-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
            <button type="button" class="modal-popup-btn-ok">Dalej</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">var application_js_options = <%= raw @js_options.to_json %>;</script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
